# Files and directories created by pub.
.dart_tool/
.packages
pubspec.lock

# Build files and directories
build/
*.g.dart
lib/src/gen/

# Files and directories created by IDE
dj_bot.iml
.idea

# Unnecessary dev files
env.sh